# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Unit test / coverage
.tox/
.nox/
.pytest_cache/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# MyPy / type checkers
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

# PyInstaller
*.spec

# Datasets
data/
*.csv

# Trained models
models/
*.pkl
*.h5

# Cloud / GCP
*.json
vertex_logs/
gcp_logs/

# DVC (if used)
*.dvc
.dvc/
.cache/

# Docker
*.log
*.tar

# Terraform (if used)
*.tfstate
*.tfstate.*
.terraform/
data/creditcard.csv 
data/creditcard.csv 
data/creditcard.csv 
